body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .photo-container {
    max-width: 750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }